<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xpf.module1">

    <application>
        <activity
            android:name=".test1.view.Test1Activity"
            android:label="Test1Activity" />
        <activity
            android:name=".test2.view.Test2Activity"
            android:label="Test2Activity" />
    </application>

</manifest>